body {
  background-color: pink;
  color: white;
}

button {
  background-color: #0984e3;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#wrapper {
  text-align: center;
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}

#card {
  width: 400px;
  height: 400px;
  background-color: #ffeaa7;
  border-radius: 8px;
  display: inline-block;
}
#content {
  color:#00b894;
  font-size: 2em;
}
